##############################################
#  Galileo Provisioning Configuration File   #
#                                            #
#  Copy this file to config.sh and customize #
##############################################

# The URL where the preseed file will be picked up.  Exclude preseed.txt, include trailing slash.
PRESEED_URL=http://x.x.x.x/~user/

# The path that corresponds to the URL above.  Exclude preseed.txt, include trailing slash.
PRESEED_PATH=$HOME/some-path/

BASE_BOX_NAME="Ubuntu Galileo"
BASE_BOX_HOST=galileo
BASE_BOX_DOMAIN=light-source.net
BASE_BOX_USER=galileo
BASE_BOX_PASSWORD=galileo
