##############################################
#  Galileo Provisioning Configuration File   #
#                                            #
#  Copy this file to config.sh and customize #
##############################################

# The URL where the preseed file will be picked up.  Exclude preseed.txt, include trailing slash.
PRESEED_URL=http://x.x.x.x/~user/

# The path that corresponds to the URL above.  Exclude preseed.txt, include trailing slash.
PRESEED_PATH=$HOME/some-path/

BASE_BOX_NAME="Ubuntu Galileo"
BASE_BOX_HOST=galileo
BASE_BOX_DOMAIN=light-source.net
BASE_BOX_USER=vagrant
BASE_BOX_PASSWORD=vagrant
BASE_BOX_SSH_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key"
