##############################################
#  Galileo Provisioning Configuration File   #
#                                            #
#  Copy this file to config.sh and customize #
##############################################

# The URL where the preseed file will be picked up.  Exclude preseed.txt, include trailing slash.
PRESEED_URL=http://10.100.14.46/~knut/

# The path that corresponds to the URL above.  Exclude preseed.txt, include trailing slash.
PRESEED_PATH=$HOME/public_html/

BASE_BOX_NAME=galileo
BASE_BOX_HOST=galileo
BASE_BOX_DOMAIN=light-source.net
BASE_BOX_USER=galileo
BASE_BOX_PASSWORD=galileo
